@page "/maintenance/tickets"
@attribute [Authorize]

<PageTitle>Hibabejelentő</PageTitle>

<style>
    .glass-card {
        padding: 40px;
        background: rgba(255, 255, 255, 0.2) !important;
        backdrop-filter: blur(10px) saturate(180%);
        -webkit-backdrop-filter: blur(10px) saturate(180%);
        border: 1px solid rgba(255, 255, 255, 0.3) !important;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .blurry {
        backdrop-filter: blur(10px);
    }
</style>

<MudPaper Class="mb-4">

    <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudText Typo="Typo.h5" Align="Align.Center" Class="ma-4">Kollégiumi hibabejelentő</MudText>
            <MudSwitch T="bool"
                Value="isCompletedTicketsShowing"
                ValueChanged="OnSwitchChanged"
                ThumbIcon="@(isCompletedTicketsShowing ? Icons.Material.Filled.DoneAll : @Icons.Material.Filled.HomeRepairService)"
                Label="@(isCompletedTicketsShowing ? "Elvégzett" : "Folyamatban")"
                Color="Color.Primary" />
        </MudStack>

        <MudButton Variant="Variant.Outlined"
            StartIcon="@Icons.Material.Filled.Add"
            Color="Color.Primary"
            Class="ma-4"
            OnClick="HandleCreateTicket">
            Bejelentés
        </MudButton>
    </MudStack>

</MudPaper>

<MudGrid Justify="Justify.Center">
    @if (tickets.Count == 0)
    {
        <MudItem md="4">
            <MudPaper Class="pa-4">
                <MudStack Row Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudIcon Icon="@Icons.Material.Filled.Close" Color="Color.Error" />
                    <MudText>Nincs rögzített hibajegy!</MudText>
                </MudStack>
            </MudPaper>
        </MudItem>
    }
    else
    {
        @foreach (var ticket in tickets)
        {
            <MudItem xs="12" sm="6" md="4" lg="3">
                <MudCard Elevation="3" Class="mt-4" Style="height: 200px; overflow:hidden">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudStack Row="true" Justify="Justify.FlexStart" AlignItems="AlignItems.Center">
                                <MudText Typo="Typo.subtitle2"
                                         Color="Color.Primary"
                                         Style="font-weight: bold">
                                    #@ticket.Id
                                </MudText>

                                <MudText Typo="Typo.subtitle2">@ticket.Title</MudText>

                                <MudChip T="string">@TicketStatusExtensions.ToDisplayString(ticket.Status)</MudChip>
                            </MudStack>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText>@ticket.Description</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        @if (ticket.Status != TicketStatus.Resolved)
                        {
                            <MudTooltip Text="Szerkesztés">
                                <MudIconButton Icon="@Icons.Material.Outlined.Edit" OnClick="@(() => UpdateTicket(ticket))" />
                            </MudTooltip>
                            <MudTooltip Text="Törlés">
                                <MudIconButton Icon="@Icons.Material.Filled.DeleteOutline" OnClick="@(() => DeleteTicket(ticket.Id))" />
                            </MudTooltip>
                        }
                        else
                        {
                            <MudMenu FullWidth="true" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                                <ActivatorContent>
                                    <MudIconButton Icon="@Icons.Material.Filled.StarHalf" />
                                </ActivatorContent>
                                <ChildContent>
                                    <div class="d-flex flex-column align-center">
                                        <MudRating SelectedValue="ticket.Rating ?? 0" SelectedValueChanged="@((value) => RateTicket(ticket, value))" />
                                        <MudText Typo="Typo.subtitle2" Class="deep-purple-text ma-2">Értékeld a munkánkat!</MudText>
                                    </div>
                                </ChildContent>
                            </MudMenu>
                        }
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    }
</MudGrid>

@code {
    [Inject] IMaintenanceService MaintenanceService { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }
    [Inject] IDialogService DialogService { get; set; }

    List<TicketDTO> tickets = new();
    bool isCompletedTicketsShowing = false;

    protected override async Task OnInitializedAsync()
    {
        tickets = await MaintenanceService.GetTicketsAsync(isCompletedTicketsShowing);
    }

    private async Task OnSwitchChanged(bool newValue)
    {
        isCompletedTicketsShowing = newValue;
        tickets = await MaintenanceService.GetTicketsAsync(isCompletedTicketsShowing);
    }

    private void HandleCreateTicket()
    {
        NavigationManager.NavigateTo("/maintenance/add-ticket");
    }

    private async Task UpdateTicket(TicketDTO ticketDTO)
    {
        var options = new DialogOptions
        {
            BackgroundClass = "blurry",
            CloseButton = true,
            MaxWidth = MaxWidth.Large,
            FullWidth = true
        };

        var parameters = new DialogParameters<EditTicketDialog> { { x => x.Ticket, ticketDTO } };

        var dialog = await DialogService.ShowAsync<EditTicketDialog>("Hibajegy szerkesztés", parameters, options);
        
        var result = await dialog.Result;

        if (result != null && !result.Canceled && result.Data is TicketDTO updatedTicket)
        {
            var success = await MaintenanceService.UpdateTicket(updatedTicket);

            if (success)
            {
                var index = tickets.FindIndex(t => t.Id == updatedTicket.Id);

                if (index != -1)
                {
                    tickets[index] = updatedTicket;

                    StateHasChanged();
                }
            }
        }
    }

    private async Task DeleteTicket(int tickedId)
    {
        var isDeleted = await MaintenanceService.DeleteTicket(tickedId);

        if (isDeleted)
        {
            var ticketToRemove = tickets.FirstOrDefault(t => t.Id == tickedId);
            if (ticketToRemove != null)
            {
                tickets.Remove(ticketToRemove);
                StateHasChanged();
            }
        }
    }

    private async Task RateTicket(TicketDTO ticketDTO, int ratingValue)
    {
        ticketDTO.Rating = ratingValue;

        var options = new DialogOptions
        {
            BackgroundClass = "blurry",
            CloseButton = true,
            MaxWidth = MaxWidth.Medium,
            FullWidth = true
        };

        var parameters = new DialogParameters<RateTicketDialog> { { x => x.Ticket, ticketDTO } };

        await DialogService.ShowAsync<RateTicketDialog>("Értékelés", parameters, options);

        // var success = await MaintenanceService.UpdateTicket(ticketDTO);
        // if (success)
        // {
        //     var index = tickets.FindIndex(t => t.Id == ticketDTO.Id);
        //     if (index != -1)
        //     {
        //         tickets[index] = ticketDTO;
        //         StateHasChanged();
        //     }
        // }
    }
}
